<header class="section page-header">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
            data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
            data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static"
            data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
            data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px"
            data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle"
                            data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand"><a href=""><img class="brand-logo-light"
                                    src="{% static 'images/merion-170x66.png'%}" alt="Merion" width="170" height="66"
                                    srcset="{% static 'images/merion-280x109.png 2x' %}" /></a></div>
                    </div>

                    <div class="rd-navbar-main-element">
                        <div class="rd-navbar-nav-wrap">
                            <!-- RD Navbar Nav-->
                            <ul class="rd-navbar-nav">
                                <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'frontend:home'%}">Home</a>
                                </li>
                                <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'frontend:labs'%}">Laboratories</a>
                                </li>
                                <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'frontend:members'%}">Members</a>
                                </li>
                                <li class="rd-nav-item"><a class="rd-nav-link" href="#">Help</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

<section class="section section-lg section-main-bunner text-center" id="main">
    <div {% block body %}id="basePage" {% endblock %}> {# id attr change over templates #}
        {% block content %}
        {% endblock %}
    </div>
</section>