/* line 1, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
.c, .c-member.content, .c-member.image, .c-member {
  display: flex;
  flex-direction: column;
  z-index: 0;
  justify-content: center;
  align-items: center;
  border: none; }
  /* line 11, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
  .c-member {
    flex-direction: row; }
    /* line 16, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
    .c-member.image {
      width: 100%;
      height: auto;
      max-height: 100%; }
      /* line 23, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
      .c-member.image img {
        width: 100%;
        height: auto;
        max-height: 100%; }
    /* line 30, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
    .c-member.content {
      align-items: flex-start;
      padding: 20px; }
