/* line 1, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
.c, .c-member.content, .c-member-image, .c-member {
  display: flex;
  flex-direction: column;
  z-index: 0;
  justify-content: center;
  align-items: center;
  border: none; }
  /* line 11, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
  .c-member {
    flex-direction: row; }
    /* line 16, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
    .c-member-image {
      background-color: red;
      width: 30%;
      max-width: 30%;
      height: 100%;
      max-height: 100%;
      padding: 10px; }
      /* line 30, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
      .c-member-image img {
        width: auto;
        height: 100%; }
    /* line 36, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
    .c-member.content {
      background-color: blue;
      width: 70%;
      height: 100%;
      align-items: flex-start;
      padding: 20px; }
