/* line 3, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
.c, .member-content div.bio, .member-content div.header, .member-content, .member-image, #labPage, #firstLab, .lab, .lab-content, .c-lab, .c-holder, .c-lab--preview, .c-member {
  display: flex;
  flex-direction: column;
  z-index: 0;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px; }
  /* line 14, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
  .c-holder, .c-lab--preview, .c-member {
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #5f5f5f; }
  /* line 23, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
  .c-member {
    flex-direction: row;
    overflow-y: auto;
    max-width: 70%;
    max-height: 500px; }

/* line 45, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
.lab, .lab-content {
  text-align: left; }
  /* line 50, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
  .lab-content {
    padding: 5px;
    padding-right: 15px;
    margin-top: 50px;
    align-items: flex-start;
    justify-content: flex-start; }

/* line 64, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
#labPage, #firstLab {
  margin-top: 50px;
  width: 100%;
  height: auto;
  max-height: 80%;
  margin-left: 300px;
  margin-right: 300px;
  padding: 30px 50px;
  background-color: #e9e8e8; }
  /* line 80, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
  #labPage h2, #firstLab h2,
  #labPage h3,
  #firstLab h3,
  #labPage h4,
  #firstLab h4,
  #labPage p,
  #firstLab p {
    color: #111; }

/* line 92, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
.clicky, #labItem {
  background-color: #5f5f5f; }
  /* line 95, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
  .clicky :hover, #labItem :hover {
    cursor: pointer; }

/* line 102, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
#main {
  height: auto; }

/* line 3, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
.c, .member-content div.bio, .member-content div.header, .member-content, .member-image, .c-holder, .c-member, .c-lab, .c-lab--preview, .lab, .lab-content, #labPage, #firstLab {
  display: flex;
  flex-direction: column;
  z-index: 0;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px; }
  /* line 14, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
  .c-holder, .c-member, .c-lab--preview {
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #5f5f5f; }
  /* line 23, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
  .c-member {
    flex-direction: row;
    overflow-y: auto;
    max-width: 70%;
    max-height: 500px; }

/* line 45, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
.lab, .lab-content {
  text-align: left; }
  /* line 50, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
  .lab-content {
    padding: 5px;
    padding-right: 15px;
    margin-top: 50px;
    align-items: flex-start;
    justify-content: flex-start; }

/* line 64, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
#labPage, #firstLab {
  margin-top: 50px;
  width: 100%;
  height: auto;
  max-height: 80%;
  margin-left: 300px;
  margin-right: 300px;
  padding: 30px 50px;
  background-color: #e9e8e8; }
  /* line 80, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
  #labPage h2, #firstLab h2,
  #labPage h3,
  #firstLab h3,
  #labPage h4,
  #firstLab h4,
  #labPage p,
  #firstLab p {
    color: #111; }

/* line 92, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
.clicky, #labItem {
  background-color: #5f5f5f; }
  /* line 95, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
  .clicky :hover, #labItem :hover {
    cursor: pointer; }

/* line 102, c:/users/jose2/programming/python/django/merion/static/scss/containers.scss */
#main {
  height: auto; }

/* line 8, c:/users/jose2/programming/python/django/merion/static/scss/rules.scss */
.darky {
  background-color: #3b3b3b; }

/* line 13, c:/users/jose2/programming/python/django/merion/static/scss/rules.scss */
.member-image {
  align-self: center;
  width: 30%;
  max-width: 30%;
  height: auto;
  max-height: inherit;
  padding: 20px; }
  /* line 27, c:/users/jose2/programming/python/django/merion/static/scss/rules.scss */
  .member-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: inherit; }

/* line 35, c:/users/jose2/programming/python/django/merion/static/scss/rules.scss */
.member-content {
  flex-direction: column;
  align-items: flex-start;
  max-width: 70%;
  width: 70%;
  height: 100%;
  max-height: inherit;
  padding: 20px;
  margin: 0; }
  /* line 51, c:/users/jose2/programming/python/django/merion/static/scss/rules.scss */
  .member-content div.header {
    height: 20%;
    min-height: 20%;
    width: 100%;
    margin-bottom: 20px; }
    /* line 60, c:/users/jose2/programming/python/django/merion/static/scss/rules.scss */
    .member-content div.header p {
      font-size: 30px;
      font-weight: 600; }
  /* line 66, c:/users/jose2/programming/python/django/merion/static/scss/rules.scss */
  .member-content div.bio {
    align-items: flex-start;
    height: 80%;
    min-height: 80%;
    width: 100%; }
    /* line 75, c:/users/jose2/programming/python/django/merion/static/scss/rules.scss */
    .member-content div.bio p {
      font-size: 20px;
      font-weight: 400; }

/* line 9, c:/users/jose2/programming/python/django/merion/static/scss/styles.scss */
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

/* line 18, c:/users/jose2/programming/python/django/merion/static/scss/styles.scss */
#basePage, #labsList, #labsPage, #membersPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  padding-top: 20px; }

/* line 34, c:/users/jose2/programming/python/django/merion/static/scss/styles.scss */
#labsPage {
  align-self: flex-start;
  align-items: center; }

/* line 43, c:/users/jose2/programming/python/django/merion/static/scss/styles.scss */
#membersList {
  margin-top: 50px; }

/* line 47, c:/users/jose2/programming/python/django/merion/static/scss/styles.scss */
#labsList {
  width: 80%;
  max-width: 80%;
  margin-top: 50px;
  justify-content: flex-start;
  align-items: flex-start; }
