// colors, common widths and more
@import "./variables";

// Containers
@import "./containers";

@import "./rules";

@import "./other";

@import "./position";

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;

  min-height: 100%;
  height: auto;
  width: 100%;

  padding: 0;
  margin: 0;

  background-color: $bg-color;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  // position: absolute;

  width: 100%;
  min-height: 100%;
  height: auto;

  margin: 0;
  padding: 0;

  scroll-behavior: smooth;

  background-color: $bg-color;

  > header {
    width: 100%;
  }
}

#navbar {
  min-height: $navbar--height;
}

#basePage {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
  min-height: 100%;

  align-items: center;
  justify-content: center;

  transition: all 0.2s ease-in-out;

  padding: 0;
  margin: 0;

  padding-top: 50px;

  p,
  h3,
  h4,
  h5 {
    color: white;
  }
}

#homePage {
  @extend #basePage;
}
#membersPage {
  @extend #basePage;
}

#labsPage {
  @extend #basePage;

  align-self: flex-start;

  align-items: center;
}

#labPage {
  @extend #labsPage;

  padding: 50px 0;

  background-color: inherit;

  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #111;
  }
}
