@import "./variables";
@import "./position";
@import "./fonts.scss";

.c {
    display: flex;
    flex-direction: column;
    z-index: 0;

    justify-content: center;
    align-items: center;

    border: none;
    border-radius: $c-radius;

    &-diagram {
        margin-left: auto;
        margin-right: auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        &__row {
            display: flex;
            justify-content: space-evenly;
        }

        & img {
            height: 80px;
        }

        & p {
            margin-top: 10px;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
        }
    }

    &-home {
        @extend .c;
        @extend .center-full;

        margin-top: 50px !important;
    }

    &-holder {
        @extend .c;
        align-items: flex-start;
        justify-content: flex-start;

        background-color: $c-bg;
    }

    &-member {
        @extend .c-holder;

        flex-direction: row;

        overflow-y: auto;

        padding: 2%;

        transition: all 0.5s ease;

        width: 70%;
        height: 500px;

        max-height: 500px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        &:hover {
            background-color: $c-bg--hover;
        }
    }

    &-lab {
        @extend .c;

        &--preview {
            @extend .c-holder;
        }
    }

    &-nav {
        @extend .c;

        min-height: $navbar--height;
        height: auto;

        width: 100%;
        min-width: 100%;
    }

    &-files {
        @extend .c;

        width: 100%;

        flex-direction: row;
        flex-wrap: wrap;

        align-items: flex-start !important;
        justify-content: space-around;
    }

    &-other__labs {
        display: flex;
        justify-content: space-between;
        width: 90vw;
        max-width: 1100px;
        min-width: 300px;

        margin-top: 20px;
        margin-bottom: 50px;

        & a {
            min-width: 100px;
            width: 7vw;
            max-width: 250px;
            height: 30px;

            text-align: center;
            text-decoration: none;
            line-height: 30px;
            border-radius: $c-radius;

            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            background-color: map-get($colors, "blue");
            color: white;

            transition: all 0.2s ease-in;

            &:hover {
                background-color: map-get($colors, "blue__hover");
                text-decoration: none;

                &.lab__previous::before {
                    transform: translateX(-10px);
                }

                &.lab__next::after {
                    transform: translateX(10px);
                }
            }

            &.lab__next {
                margin-left: auto;
            }

            &::before,
            &::after {
                transition: all 0.2s ease-in;
                display: inline-block;
            }

            &.lab__previous::before {
                margin-right: 5px;
                content: "\2190";
            }

            &.lab__next::after {
                margin-left: 5px;
                content: "\2192";
            }
        }
    }
}

.lab {
    @extend .c;

    text-align: left;
    width: 100%;

    &-header {
        @extend .lab;

        text-align: center;
        margin-bottom: 40px;

        h3 {
            font-weight: 550;
        }
    }

    &-content {
        @extend .lab;

        padding: 5px;

        padding-right: 15px;

        align-items: flex-start;
        justify-content: flex-start;

        section {
            width: 100%;
            padding-bottom: 20px;
            p {
                font-size: 18px;
            }
        }

        #TOC {
            a {
                font-size: 20px;
            }
        }

        h4 {
            font-weight: 550;
        }
    }

    &-item {
        @extend .clicky;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }
    }
    &-qt {
        &__preview {
            &:hover {
                color: white;
            }
        }
    }
}

#labSheet {
    @extend .c;

    font-family: "Computer Modern Serif", serif;

    max-width: 1100px;
    min-width: 300px;

    width: 90vw;

    height: auto;
    max-height: 80%;

    transition: all 0.2s ease-in-out;

    padding: 30px 40px 40px;
    margin-top: 40px;

    background-color: $sheet-color;

    section:not(#TOC):not(#files) a {
        font-weight: 550;
        color: hsl(221, 38%, 52%);
        &:hover {
            color: hsl(221, 38%, 42%);
        }
    }

    h2,
    h3,
    h4,
    p {
        color: #111;
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
}

.clicky {
    background-color: $c-bg;
    transition: transform 0.2s;

    &:hover {
        cursor: pointer;
        transform: scale(1.005);
    }
}

#main {
    height: auto;
}
