{% extends 'frontend/base.html' %}
{% load static %}
{% load filters %}

{% block body %}id="labsPage"{% endblock %}

{% block title%}Merion - Labs{% endblock %}


{% block content %}
<div><h2>Laboratories</h2></div>
<div id="labsList">
<div class="w-100" id="accordion">
{% for lab in LABS %}
    {% if lab|get_item:"finished" %}
    <div class="card" onclick="document.getElementById('t{{ forloop.counter }}').click()" id="labItem">
        <div class="card-header d-flex flex-row justify-content-between clicky align-items-center" id="h{{ forloop.counter }}">
        <h5 style="text-align: left;" id="t{{ forloop.counter }}" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ lab|get_item:"title"}}
        </h5>
        <a class="btn btn-primary" href="{% url 'frontend:labs' id_lab=lab|get_item:'id' %}" role="button">View lab</a>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="h{{ forloop.counter }}" data-parent="#accordion">
            <div class="card card-body darky">
                <ul class="list-group list-group-flush" style="">
                {% for question in lab|get_item:"questions" %}
                    <li class="list-group-item darky text-left">{{ question }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% endif %}
{% endfor %}
</div>
</div>
{% endblock %}