$c-radius: 5px;

$navbar--height: 100px;

$merion-yellow: #ecca24ff;
$merion-dolphin-color: #4f6c9bff;

$c-bg: rgba(52, 57, 61, 0.5);
$c-bg--hover: #272b2e;

$bg-color: #1f2225;
$sheet-color: #fff;

$lab-page-sides-space: 150px;