@import "./constants";

.c {
    display: flex;
    flex-direction: column;
    z-index: 0;

    justify-content: center;
    align-items: center;

    border: none;
    border-radius: $c-radius;

    &-holder {
        @extend .c;
        align-items: flex-start;
        justify-content: flex-start;

        background-color: $c-bg;

    }

    &-member {
        @extend .c-holder;

        flex-direction: row;

        overflow-y: auto;

        transition: all 0.5s ease;
        
        width: 70%;
        height: 500px;

        max-height: 500px;

        :hover {
            background-color: $c-bg--hover;
        }
    }

    &-lab {
        @extend .c;

        &--preview {
            @extend .c-holder;
        }

    }
}

.lab {
    @extend .c;

    text-align: left;

    &-content {
        @extend .lab;

        padding: 5px;

        padding-right: 15px;

        margin-top: 50px;

        align-items: flex-start;
        justify-content: flex-start;
    }
}

#labSheet {
    @extend .c;

    width: 100%;

    height: auto;
    max-height: 80%;

    padding: 30px 20px 50px 40px;

    background-color: $sheet-color;


    h2,
    h3,
    h4,
    p {
        color: #111;
    }
}

.clicky {
    background-color: $c-bg;

    :hover {
        cursor: pointer;
        // background-color: $c-bg--hover;
        // box-shadow: 0 2px 3px 0 #c0c0c0, 0 3px 3px 0 #c0bfbf;
    }
}

#main {
    height: auto;
}