@import "./constants.scss";
@import "./containers.scss";

#video {
    width: 100%;
}

.home-img {
    border-radius: $c-radius;
    width: 100%;
    max-width: 95%;
    height: auto;
    max-height: inherit;

    transition: transform .2s;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

.home-img-c {
    @extend .c;

    background-color: inherit;

    max-width: 20%;
    max-height: 80%;
}

.merion-logo {
    transition: transform .2s;

    &:hover  {
        transform: scale(1.1);
    }
}

// table of content
.tof-item {
    &:hover {
        background-color: rgb(231, 236, 247);
    }
}