@import "./constants";

.c {
    display: flex;
    flex-direction: column;
    z-index: 0;

    justify-content: center;
    align-items: center;

    border: none;
    border-radius: $c-radius;

    &-holder {
        @extend .c;
        align-items: flex-start;
        justify-content: flex-start;

        background-color: $c-bg;

    }

    &-member {
        @extend .c-holder;


        overflow-y: auto;

        max-width: 70%;

        max-height: 500px;
    }

    &-lab {
        @extend .c-holder;
    }
}

.clicky {
    background-color: $c-bg;

    :hover {
        cursor: pointer;
        // background-color: $c-bg--hover;
        // box-shadow: 0 2px 3px 0 #c0c0c0, 0 3px 3px 0 #c0bfbf;
    }
}

#main {
    overflow-y: auto;
}