{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>{% block title %}Merion{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
    {% comment %} Bootstrap {% endcomment %}
    <link rel="stylesheet" type="text/css"
        href="//fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CPT+Serif:400,700">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel,
        html.lt-ie-10 .ie-panel {
            display: block;
        }
    </style>
    {% comment %} Merion css {% endcomment %}
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/styles.scss' %}" media="screen" />
    {% endcompress %}
</head>

<body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img
                src="static/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>
    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-container">
                <div class="spinner-border text-secondary" role="status"></div>
            </div>
            <p>Loading...</p>
        </div>
    </div>
    <div class="page">
        <!-- Page Header-->
        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                    data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
                    data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static"
                    data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
                    data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px"
                    data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle"
                                    data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand"><a href="{% url 'frontend:home'%}"><img class="brand-logo-light"
                                            src="{% static 'images/logo-default-170x70.png'%}" alt="Merion" width="170" height="60"
                                            srcset="{% static 'images/logo-default-280x113.png 2x' %}" /></a></div>
                            </div>

                            <div class="rd-navbar-main-element">
                                <div class="rd-navbar-nav-wrap">
                                    <!-- RD Navbar Nav-->
                                    <ul class="rd-navbar-nav">
                                        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'frontend:home'%}">Home</a>
                                        </li>
                                        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'frontend:labs'%}">Laboratories</a>
                                        </li>
                                        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'frontend:members'%}">Members</a>
                                        </li>
                                        <li class="rd-nav-item"><a class="rd-nav-link" href="#">Help</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Swiper-->
        <section class="section section-lg section-main-bunner text-center" id="main">
            <div {% block body %}id="basePage" {% endblock %}> {# id attr change over templates #}
                {% block content %}
                {% endblock %}
            </div>
        </section>
        <scrip src="">
            </script>
            <script src="{% static 'js/core.min.js' %}"></script>
            <script src="{% static 'js/script.js' %}"></script>
            {% block scripts %}
            {% endblock %}
</body>

</html>