{% extends 'base.html'%}

{% load static %} 

{% block body %}id="membersPage"{% endblock %}

{% block title%}Merion - members{% endblock %}


{% block content %}
<div><h2>Members</h2></div>
<div id="membersList">
    <div class="list-group align-items-center">
        {% for title, bio, image, github in MEMBERS %}
        <div class="c-member" style="margin-bottom: 20px;">
            <div class="member-image">
                <img src="{% static image %}" />
            </div>
            <div class="member-content">
                <div class="header">
                    <p>{{ title }}</p>
                </div>
                <div class="bio">
                    <p class="text-left">{{ bio }}</p>
                    <a class="btn btn-primary" href="{{ github }}" target="_blank" role="button">Github</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
